{
  "webberpets" : [
    [0, [
      { "item" : "webskutzerhome", "rarity" : 0.8 },
      { "item" : "henegg", "rarity" : 0.2 },
      { "item" : "robothenegg", "rarity" : 0.2 },
      { "item" : "mooshiegg", "rarity" : 0.2 },
      { "item" : "fluffaloegg", "rarity" : 0.2 },
      { "item" : "firefluffaloegg", "rarity" : 0.2 },
      { "item" : "poisonfluffaloegg", "rarity" : 0.2 },
      { "item" : "icefluffaloegg", "rarity" : 0.2 },
      { "item" : "electricfluffaloegg", "rarity" : 0.2 },
      { "item" : "petball", "rarity" : 0.2 },
      { "item" : "pethouse", "rarity" : 0.2 }
      ]
    ]
  ]
}
