{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Gumball", "Candy", "Choco", "Bean", "Skittles", "Jelly", "Jellybean", "Topkek", "Freesh", "Peppermint", "Twinkie", " Cashew", "Ramen", "Cheeto", "Pistachio", "Almond", "Banana", "Flour", "Peanut", "Cup", "Buttercup", "Caramel", "Ice", "Avacado", "Cinnamon" ],
      [ { "mode" : "alts" }, " Pepper", " Skitz", " Mint", " Bag", " Chip", " Bear", " Bean", " Chocolate", " Avackadoo", " Cake", " Dragontail", " Spidey", " Noodle", " Dip", " Corn", " Beefcake", " Greg", " Nerd", " Butter", " Gum", " Moosetrack", " Fudge", " Frost", " Applejack", " Roll" ]
    ]
  ]
}
