{
"movementParameters" : {
//						bottom-left		    left		   right	   bottom-right	     top		top-left	  top-right		bottom
    "standingPoly" : [ [-0.75, -1.75], [-0.35, -2.25], [0.35, -2.25], [0.75, -1.75], [0.75, 0.75], [0.35, 1.00], [-0.35, 1.00], [-0.75, 0.75] ],
    "crouchingPoly" : [ [-0.75, -1.75], [-0.35, -2.25], [0.35, -2.25], [0.75, -1.75], [0.75, 0.50], [0.35, 0.70], [-0.35, 0.70], [-0.75, 0.50] ]
  }
}
